nav{
  display:grid;
  grid-template-columns: 10% 90%;
  grid-template-rows:1;
  grid-template-areas: "logo links";
  min-height:6vh;
  background:rgb(53, 82, 92);
  color:white;
}
.logo{
  grid-area:logo;
  padding-top:10%;
  padding-left:20%;
}
.navLinks{
  grid-area:links;
  display:flex;
  list-style: none;
  justify-content: flex-end;
  width:100%;
}
.menuItem{
  margin:10px;
}