h1{
  text-align: center;
}

.app{
  min-height: 100vh;
  background: rgb(95,167,190);
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.tweet {
  background:white;
  border-radius:9px;
  padding:10px;
  height:300px;
  width:300px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}